Привет, меня зовут Гребенюк Артём. Сегодня я буду делать ревью твоего проекта!\
В Практикуме принято общаться на "ты", однако если это неудобно - дай знать, и можем перейти на более официальное общение.

Ниже ты найдешь мои комментарии - пожалуйста, не перемещай, не изменяй и не удаляй их. Я буду использовать цветовую разметку: 

<div class="alert alert-block alert-success">
<b>Success:</b> Если все сделано хорошо. </div>

<div class="alert alert-block alert-warning">
<b>Remarks:</b> Некритичное замечание; если таких замечаний меньше трех — проект может быть принят без их отработки.</div>

<div class="alert alert-block alert-danger">
<b>Needs fixing:</b> Грубая ошибка, необходимо исправить, иначе проект не будет принят.
</div>

Давай работать над проектом в диалоге: если ты что-то меняешь в проекте или отвечаешь на мои комменатри — пиши об этом. Мне будет легче отследить изменения, если ты выделишь свои комментарии:
Например так:
<div class="alert alert-block alert-info">
<b>Fixed:</b> 
Hello World! ✔
</div>

Или можешь использовать эту галочку ✔ в моих комментариях, если писать особо нечего.

<div class="alert alert-block alert-warning">
<b>Общее впечатление:</b> 
    
- Спасибо за работу :)
- У меня есть пара ремарок, которые помогут тебе сделать проект еще лучше.
- Пробегись по моим комментариям, исправь недочёты и всё будет отлично :)
    
</div>

<div class="alert alert-block alert-success">
<b>Привет!</b> Отличная работа над ремарками! Проект принят, поздравляю, желаю удачи в дальнейшем обучении :)

# Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

<div class="alert alert-block alert-warning">
<b>Remarks:</b> 

Отлично, что у проекта есть введение. Однако стоит задуматься, как еще его можно дополнить, чтобы сделать более ценным для читателя. В студенческом ноушене (если нет доступа, спроси куратора) есть статья о том, как мы оформляем работы.
    
Также советую тебе взглянуть на <a href="https://www.kaggle.com/notebooks/">работы</a> профессиональных аналитиков, чтобы оценить, как другие люди оформляют и проводят исследования. </div>

## Шаг 1. Откройте файл с данными и изучите общую информацию

In [3]:
import pandas as pd
import pandas as pd
from pymystem3 import Mystem
from nltk.stem import SnowballStemmer 
from collections import Counter

<div class="alert alert-block alert-success">
<b>Success:</b> здорово, что все импорты собраны в начале проекта!

In [4]:
df = pd.read_csv('/datasets/data.csv')
display(df)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

In [5]:
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

In [6]:
df.tail(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
21515,1,-467.685130,28,среднее,1,женат / замужем,0,F,сотрудник,1,109486.327999,заняться образованием
21516,0,-914.391429,42,высшее,0,женат / замужем,0,F,компаньон,0,322807.776603,покупка своего жилья
21517,0,-404.679034,42,высшее,0,гражданский брак,1,F,компаньон,0,178059.553491,на покупку своего автомобиля
21518,0,373995.710838,59,СРЕДНЕЕ,1,женат / замужем,0,F,пенсионер,0,153864.650328,сделка с автомобилем
21519,1,-2351.431934,37,ученая степень,4,в разводе,3,M,сотрудник,0,115949.039788,покупка коммерческой недвижимости
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

<div class="alert alert-block alert-warning">
<b>Remarks:</b> 
   
для знакомства с датасетом можно применить специальные методы - `head()`, `tail()` и `sample()` - попробуй. Также рекмоендую познакомиться с параметром `random_state` для функции `sample()`

In [7]:
df.sample(random_state=10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
1719,0,374049.572829,58,среднее,1,женат / замужем,0,F,пенсионер,0,190286.376012,покупка жилья для семьи

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
children,21525.0,0.538908,1.381587,-1.000000,0.000000,0.000000,1.000000,2.000000e+01
days_employed,19351.0,63046.497661,140827.311974,-18388.949901,-2747.423625,-1203.369529,-291.095954,4.017554e+05
dob_years,21525.0,43.293380,12.574584,0.000000,33.000000,42.000000,53.000000,7.500000e+01
education_id,21525.0,0.817236,0.548138,0.000000,1.000000,1.000000,1.000000,4.000000e+00
family_status_id,21525.0,0.972544,1.420324,0.000000,0.000000,0.000000,1.000000,4.000000e+00
debt,21525.0,0.080883,0.272661,0.000000,0.000000,0.000000,0.000000,1.000000e+00
total_income,19351.0,167422.302208,102971.566448,20667.263793,103053.152913,145017.937533,203435.067663,2.265604e+06

<div class="alert alert-block alert-warning">
<b>Remarks:</b> 
   
функция `describe()` может быть очень полезна при знакомстве с датасетом, здорово, что ты её используешь. Советую почитать про её аргументы - пригодится в следующих проектах, а также рекомендую рассматривать её в транспонированном виде - в больших датасетах будет гораздо удобнее - `df.describe().T` 
</div>

**ИСПРАВИЛ**

**Вывод**

Ознакомившись с описание таблицы я обратил внимание на столбец `children`. Минимальное значение: -1, а Максимальное: 20. Я думаю, что -1 означает смерть ребенка, а 20 это необычайно большое количество детей в семье. Также в глаза бросаются отрицательные значения в столбце `days_employed`. Самое минимальное это -18388. Скорее всего, отрицательное число означает количество безработных дней. В столбике `dob_years` мы имеем нулевые значения, которые можно списать на то, что клиент при подаче заявки не указал свой возраст.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Шаг 2. Предобработка данных

### Обработка пропусков

In [5]:
display(df.isna().sum())

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Вывод**

Мы имеем пропуски в колонках `days_employed` и `total_income`. Я связываю эти пропуски с причиной того, что некоторые люди все еще не могут трудоустроиться на работу, а, следовательно, получать ежемесячный доход. Поэтому количество пропусков взаимосвязано и одинаково.

### Замена типа данных

In [6]:
df['days_employed'] = pd.to_numeric(df['days_employed'], errors='coerce')
df['total_income'] = pd.to_numeric(df['total_income'], errors='coerce')

<div class="alert alert-block alert-warning">
<b>Remarks:</b> 
    
Потенциал для эффективного изменения типов тут очень широк.
    
Давай я дам тебе две классные статьи, а ты попробуешь изменить типы данных на еще более подходящие и замеришь, сколько памяти в % ты сэкономишь:
    
https://pyprog.pro/data_types.html
    
https://habr.com/ru/company/ruvds/blog/442516/
    
Также обрати внимание на пары столбцов `education - education_id` и `family_status - family_status_id`

**Не совем понян как использовать** `education - education_id` и `family_status - family_status_id`

In [7]:
df['days_employed'] = abs(df['days_employed'])
df['total_income'] = abs(df['total_income']) #убрал отрицательные значения
df['days_employed']= df['days_employed'].fillna(value=(df['days_employed'].mean()/365)) #вывел количесвто дней 
df['total_income']= df['total_income'].fillna(value=df['total_income'].mean())#заполнил пропуски средними значениями
display(df[['days_employed', 'total_income']])

       days_employed   total_income
0        8437.673028  253875.639453
1        4024.803754  112080.014102
2        5623.422610  145885.952297
3        4124.747207  267628.550329
4      340266.072047  158616.077870
...              ...            ...
21520    4529.316663  224791.862382
21521  343937.404131  155999.806512
21522    2113.346888   89672.561153
21523    3112.481705  244093.050500
21524    1984.507589   82047.418899

[21525 rows x 2 columns]

**Вывод**

После нескольких операций я заменил все пропущенные значения средними значениями стажа(перевел в года) и ежемесячного дохода

### Обработка дубликатов

In [8]:
display(df.duplicated().sum())

54

In [9]:
df = df.drop_duplicates()

<div class="alert alert-block alert-warning">
<b>Remarks:</b> 
    
в даатсете ещё остались неявные дубликаты из-за разного регистра строковых значений

**ИСПРАВИЛ**

**Вывод**

In [10]:
display(df.duplicated().sum())

0

In [12]:
implicit_diplicates = df['purpose'].sort_values(ascending=True).unique()
display(implicit_diplicates)

array(['автомобили', 'автомобиль', 'высшее образование',
       'дополнительное образование', 'жилье',
       'заняться высшим образованием', 'заняться образованием',
       'на покупку автомобиля', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля', 'на проведение свадьбы',
       'недвижимость', 'образование', 'операции с жильем',
       'операции с коммерческой недвижимостью',
       'операции с недвижимостью', 'операции со своей недвижимостью',
       'покупка жилой недвижимости', 'покупка жилья',
       'покупка жилья для сдачи', 'покупка жилья для семьи',
       'покупка коммерческой недвижимости', 'покупка недвижимости',
       'покупка своего жилья', 'получение высшего образования',
       'получение дополнительного образования', 'получение образования',
       'приобретение автомобиля', 'профильное образование',
       'ремонт жилью', 'свадьба', 'свой автомобиль',
       'сделка с автомобилем', 'сделка с подержанным автомобилем',
       'строительство жилой недвижимости', 'строительство недвижимости',
       'строительство собственной недвижимости', 'сыграть свадьбу'],
      dtype=object)

In [13]:
def replace_wrong_purposes(wrong_purpose, correct_purpose):
    for i in implicit_diplicates:
        if i == wrong_purpose:
            df['purpose'] = df['purpose'].replace(wrong_purpose, correct_purpose)
            result = df.loc[df.loc[:,'purpose'] == wrong_purpose]['purpose'].count()
            return result

In [21]:
replace_wrong_purposes('автомобиль', 'на покупку автомобиля')
replace_wrong_purposes('на покупку подержанного автомобиля', 'на покупку автомобиля')
replace_wrong_purposes('на покупку своего автомобиля', 'на покупку автомобиля')
replace_wrong_purposes('приобретение автомобиля', 'на покупку автомобиля')
replace_wrong_purposes('свой автомобиль', 'на покупку автомобиля')
replace_wrong_purposes('сделка с автомобилем', 'на покупку автомобиля')
replace_wrong_purposes('сделка с подержанным автомобилем', 'на покупку автомобиля')
replace_wrong_purposes('дополнительное образование', 'образование')
replace_wrong_purposes('высшее образование', 'образование')
replace_wrong_purposes('заняться высшим образованием', 'образование')
replace_wrong_purposes('заняться образованием', 'образование')
replace_wrong_purposes('получение высшего образования', 'образование')
replace_wrong_purposes('получение дополнительного образования', 'образование')
replace_wrong_purposes('получение образования', 'образование')
replace_wrong_purposes('профильное образование', 'образование')
replace_wrong_purposes('операции с жильем', 'недвижимость')
replace_wrong_purposes('операции с коммерческой недвижимостью', 'недвижимость')
replace_wrong_purposes('операции с недвижимостью', 'недвижимость')
replace_wrong_purposes('операции со своей недвижимостью', 'недвижимость')
replace_wrong_purposes('покупка жилой недвижимости', 'недвижимость')
replace_wrong_purposes('покупка коммерческой недвижимости', 'недвижимость')
replace_wrong_purposes('покупка недвижимости', 'недвижимость')
replace_wrong_purposes('жилье', 'покупка жилья')
replace_wrong_purposes('покупка жилья для сдачи', 'покупка жилья')
replace_wrong_purposes('покупка жилья для семьи', 'покупка жилья')
replace_wrong_purposes('покупка жилья для семьи', 'покупка жилья')
replace_wrong_purposes('покупка своего жилья', 'покупка жилья')
replace_wrong_purposes('на проведение свадьбы', 'свадьба')
replace_wrong_purposes('сыграть свадьбу', 'свадьба')
replace_wrong_purposes('строительство жилой недвижимости', 'строительство')
replace_wrong_purposes('строительство недвижимости', 'строительство')
replace_wrong_purposes('строительство собственной недвижимости', 'строительство')
replace_wrong_purposes('ремонт жилью', 'ремонт жилья')
display(df['purpose'].sort_values(ascending=True).unique())

array(['на покупку автомобиля', 'недвижимость', 'образование',
       'покупка жилья', 'ремонт жилья', 'свадьба', 'строительство'],
      dtype=object)

После нескольких операция были удалены дубликаты вместе с неявными дубликатами. Я полагаю, что дубликаты появились ошибочно при заполнении

### Лемматизация

In [22]:
purposes = df['purpose'].value_counts()
display(df['purpose'].value_counts())

недвижимость             5139
на покупку автомобиля    4315
образование              4022
покупка жилья            3208
свадьба                  2348
строительство            1881
ремонт жилья              612
Name: purpose, dtype: int64

In [31]:
m = Mystem()
lem_list = []
for i in df['purpose']:
    lemmas = m.lemmatize(i)
    lem_list.extend(lemmas)

display(Counter(lem_list))

Counter({'покупка': 7523,
         ' ': 12450,
         'жилье': 3820,
         '\n': 21525,
         'на': 4315,
         'автомобиль': 4315,
         'образование': 4022,
         'свадьба': 2348,
         'недвижимость': 5139,
         'строительство': 1881,
         'ремонт': 612})

**Вывод**

Мной был пролемматизирован столбец `purpose`, потому что он показывает цели клинетов для выдачи кредита. Исходя из этой информации я составил список уникальных лемм

<div class="alert alert-block alert-success">
<b>Success:</b> лемматизация выполнена хорошо!

### Категоризация данных

In [23]:
def dependence_between_money_and_children(row):
    child = row['children']
    money = row['debt']
    if child > 1 & child <= 5:
        if money == 1:
            return 'ненадежные плательщики'
    if child > 1 & child <= 5:
        if money == 0:
            return 'плательщики'
    if child == 0:
        if money == 1:
            return 'ненадежные плательщики без детей'
    if child >= 3 & child <= 5:
        if money == 1:
            return 'многодетные ненадежные плательщики'

In [24]:
row_values = [2, 0]
row_columns = ['children', 'debt']
row = pd.Series(data=row_values, index=row_columns)
display(dependence_between_money_and_children(row))

'плательщики'

In [25]:
df['dependence'] = df.apply(dependence_between_money_and_children, axis=1)
display(df['dependence'].value_counts())

плательщики                           2278
ненадежные плательщики без детей      1063
многодетные ненадежные плательщики     444
ненадежные плательщики                 233
Name: dependence, dtype: int64

**Вывод**

После данного исследования можно понять, что количество неплательщиков, которые не имеют детей, составляют почти половину от данных. Также мы можем наблюдать интересный факт, что есть много плательщиков с большим количеством детей.

## Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [26]:
display(df.groupby('children')['debt'].value_counts())

children  debt
-1        0          46
          1           1
 0        0       13086
          1        1063
 1        0        4374
          1         444
 2        0        1861
          1         194
 3        0         303
          1          27
 4        0          37
          1           4
 5        0           9
 20       0          68
          1           8
Name: debt, dtype: int64

**Вывод**

Анализируя данный вопрос можно отметить, что даже имея детей, доля плательщиков больше доли неплательщиков. Значит, дети не сильно влияют на платежеспособность

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [27]:
def family_status_with_debt(row):
    family_status = row['family_status']
    debt = row['debt']
   
    if family_status == 0:
        if debt == 1:
            return 'Неплательщик в браке'
       
    if family_status == 0:
        if debt == 0:
            return 'Плательщик не в браке'
                
    if family_status == 1:
        if debt == 1:
            return 'Неплательщик в гражданском браке'
       
    if family_status == 1:
        if debt == 0:
            return 'Плательщик в гражданском браке'
           
    if family_status == 2:
        if debt == 1:
            return 'Неплательщик(-ца) вдовец / вдова'
       
    if family_status == 2:
        if debt == 0:
            return 'Плательщик(-ца) вдовец / вдова'
                
    if family_status == 3:
        if debt == 1:
            return 'Неплательщик в разводе'
       
    if family_status == 3:
        if debt == 0:
            return 'Плательщик в разводе'
               
    if family_status == 4:
        if debt == 1:
            return 'Неженатый неплательщик'
       
    if family_status == 4:
        if debt == 0:
            return 'Неженатый плательщик'

row_values = [1, 0]

row_columns = ['family_status', 'debt'] 
row = pd.Series(data=row_values, index=row_columns)
 
df['dependence_btw_status_and_debt'] = df.apply(family_status_with_debt, axis=1)
print(df['family_status'].value_counts())

женат / замужем          12380
гражданский брак          4177
Не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64

**Вывод**

В данном вопросе стоит заметить, что люди в браке более платежеспособные, чем другие

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [28]:
def total_income_with_debt(row):
    total_income = row['total_income']
    debt = row['debt']
  
    if total_income > 1 and total_income <= 50000:
        if debt == 1:
            return 'Неплательщик с низким доходом'
       
    if total_income > 1 and total_income <= 50000:
        if debt == 0:
            return 'Плательщик с низким доходом'
              
    if total_income > 51000 and total_income <= 150000:
        if debt == 1:
            return 'Неплательщик со средним доходом'
       
    if total_income > 51000 and total_income <= 150000:
        if debt == 0:
            return 'Плательщик со средним доходом'
                
    if total_income > 150000 and total_income <= 500000:
        if debt == 1:
            return 'Неплательщик с высоким доходом'
       
    if total_income > 150000 and total_income <= 500000:
        if debt == 0:
            return 'Плательщик с высоким доходом'

row_values = [250000, 0]
row_columns = ['total_income', 'debt'] 
row = pd.Series(data=row_values, index=row_columns)

df['dependence_btw_salary_and_debt'] = df.apply(total_income_with_debt, axis=1)
display(df['dependence_btw_salary_and_debt'].value_counts())

Плательщик со средним доходом      8940
Плательщик с высоким доходом       8250
Неплательщик со средним доходом     819
Неплательщик с высоким доходом      712
Плательщик с низким доходом         349
Неплательщик с низким доходом        23
Name: dependence_btw_salary_and_debt, dtype: int64

In [29]:
res1 = df.loc[(df['dependence_btw_salary_and_debt'] == 'Плательщик с высоким доходом')].count().sum() / df.loc[(df['dependence_btw_salary_and_debt'] == 'Неплательщик с высоким доходом')].count().sum()
res2 = df.loc[(df['dependence_btw_salary_and_debt'] == 'Плательщик со средним доходом')].count().sum() / df.loc[(df['dependence_btw_salary_and_debt'] == 'Неплательщик со средним доходом')].count().sum()
res3 = df.loc[(df['dependence_btw_salary_and_debt'] == 'Плательщик с низким доходом')].count().sum() / df.loc[(df['dependence_btw_salary_and_debt'] == 'Неплательщик с низким доходом')].count().sum()
print('Доля плательщиков с высоким доходом к доле неплательщиков с высоким доходом:', res1)
print('Доля плательщиков со средним доходом к доле неплательщиков со средним доходом:', res2)
print('Доля плательщиков с низким доходом к доле неплательщиков с низким доходом:', res3)

Доля плательщиков с высоким доходом к доле неплательщиков с высоким доходом: 10.855738362760835
Доля плательщиков со средним доходом к доле неплательщиков со средним доходом: 10.225119930222416
Доля плательщиков с низким доходом к доле неплательщиков с низким доходом: 14.201863354037267

**Вывод**

Можно сделать вывод и сказать, что наиболее надежные плательщики имеют средний доход. Как и ожидалось, плательщики с низким доходом наиболее ненадежные как и плательщики с высоким доходом по сравннению с плательщиками со средним доходом

- Как разные цели кредита влияют на его возврат в срок?

In [30]:
df_purpose = pd.DataFrame()
df_purpose['sum_purpose'] = df.groupby('purpose')['debt'].sum()
df_purpose['count_purpose'] = df.groupby('purpose')['debt'].count()
df_purpose['result'] = df_purpose['sum_purpose'] / df_purpose['count_purpose'] 
df_purpose.sort_values('result', ascending = False)

                       sum_purpose  count_purpose    result
purpose
на покупку автомобиля          403           4315  0.093395
образование                    370           4022  0.091994
свадьба                        186           2348  0.079216
строительство                  144           1881  0.076555
недвижимость                   378           5139  0.073555
покупка жилья                  225           3208  0.070137
ремонт жилья                    35            612  0.057190

**Вывод**

Как мы можем видеть кредит на `покупку своего жилья` или `ремонт жилья` люди платят в срок чаще в сравнении с получением `образования` или с `покупкой автомобиля`

## Шаг 4. Общий вывод

Семейный статус влияет на своевременный платеж в срок. 
Заемщики, которые официально **женаты и не имеют детей** самые ответсветвенные плательщики.
Замщики, которые официально **не женаты или находятся в отношениях**, а также имеющие **детей** являются безответсвенными плательщиками

<div class="alert alert-block alert-warning">
    
<b>Remarks:</b>  Также давай напишем информативный общий вывод. Подумай об этом так: большинство заказчиков мало понимают в датасаенсе и начнут читать работу именно с него. Вывод должен содержать все обнаруженные инсайды и главное цифры.</div>

**ИСПРАВИЛ**

## Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение, какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено, по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.